<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Template 7</title>
    </head>
    <body>
        <div id="Intro">
            <img id="YourPhotoHere" src="assets/images/yourphotohere.jpg" width="250px" height="250px"></img>
            <h1 id="FName"><input id="FLName" type="text" placeholder="Enter your First Name">  <input id="FLName" type="text" placeholder="Enter your Last Name"></h1>
            <div id="APCE">
                <input placeholder="Enter your address" id="Info"> <input type="number" max="10" placeholder="Enter your contact number" id="Info">
                <p></p>
                <input type="number" max="6" placeholder="Enter your PIN code" id="Info"> <input type="email" placeholder="Enter your E-Mail" id="Info">
            </div>
        </div>
        <hr color="black">
        <div id="div2">
            <ul><h1><em><u>ABOUT ME</u></em></h1>
            <li><h3 id="EducationExperienceSkills">EDUCATION</h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Describe your education in brief. For example your College/University and Stream." id="Attributes"></textarea>
            </div>

            <li><h3 id="EducationExperienceSkills"><b>EXPERIENCE</b></h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Enter your experience (if any) and describe it concisely and in short." id="Attributes"></textarea>
            </div>

            <li><h3 id="EducationExperienceSkills"><b>SKILLS</b></h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Let others know what skills you possess, these include qualities like 'Dedicated','Leader','Team-Player' and can also contain skills in programming languages." id="Attributes"></textarea>
            </div>

            <li><h3 id="EducationExperienceSkills"><b>PROJECTS</b></h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Add and describe briefly all the projects you have worked on." id="Attributes"></textarea>
            </div>

            <li><h3 id="EducationExperienceSkills"><b>PUBLICATIONS</b></h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Have you published any articles or reports on your projects? Add them here!" id="Attributes"></textarea>
            </div>

            <li><h3 id="EducationExperienceSkills"><b>ACHIEVEMENTS</b></h3></li>
            <div>
                <textarea cols="10" rows="10" placeholder="Let everyone know what you have achieved and have been honoured with. Now is the chance to embellish it!" id="Attributes"></textarea>
            </div>

            </ul>
            <ul><h1><em><u>External Media</u></em></h1>
            <div>
                <li id="SocialMedia"><b><u>X</u></b>:</li>
                <input id="Media" placeholder="Paste the link to your X profile"></textarea>
            </div>
            <p></p>

            <div>
                <li id="SocialMedia"><b><u>Facebook</u></b>:</li>
                <input id="Media" placeholder="Paste the link to your Facebook profile"></textarea>
            </div>
            <p></p>

            <div>
                <li id="SocialMedia"><b><u>Discord</u></b>:</li>
                <input id="Media" placeholder="Paste the link to your Discord profile"></textarea>
            </div>
            <p></p>

            <div>
                <li id="SocialMedia"><b><u>Instagram</u></b>:</li>
                <input id="Media" placeholder="Paste the link to your Instagram profile"></textarea>
            </div>
            <p></p>

            <div>
                <li id="SocialMedia"><b><u>GitHub</u></b>:</li>
                <input id="Media" placeholder="Paste the link to your GitHub page"></textarea>
            </div>
            <div>
                <li id="SocialMedia"><b><u>Others</u></b>:</li>
                <input id="Media" placeholder="Paste the link to any website of yours or related to you"></textarea>
            </div>
        </ul>
        </div>
        <input type="image" src="assets/images/submit.webp" width="200px" height="100px" id="Submit">
    </body>
</html>