<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Template 8</title>
    </head>
    <body>
        <span class="Intro"><u>Welcome to my page!</u></span>

        <div class="MyName">
            My name is <input class="MyName, Name" type="text" placeholder="Enter your name">
        </div>
        <div class="MyCountry">
            I am from <input class="Country" type="text" placeholder="Enter your Nationality">
        </div>
        <div class="MyCountry">
            You can contact me at <input class="Country" type="number" placeholder="Enter your Contact">
        </div>
        <div class="MyCountry">
            You could also E-Mail me at <input class="Country" type="email" placeholder="Enter your E-Mail">
        </div>
        <img class="YourImageHere" src="assets/images/yourimagehere.png">
        <div>
            <ul><u class="AboutMe">About Me!</u></ul>
        </div>
        <div class="List">
            <li><u>Education</u>
                <br>
                <textarea cols="10" rows="10" class="AMInput" placeholder="Let others know about what education you have for examples, for examples which school you went to, what college/university you attended, what stream you chose e.t.c"></textarea>
            </li>
            <li><u>Experience</u>
                <br>
                <textarea cols="10" rows="10" class="AMInput" placeholder="Write about what previous jobs you did, add only relevant ones which are related to your stream"></textarea>
            </li>
            <li><u>Skills</u>
                <br>
                <textarea cols="10" rows="10" class="AMInput" placeholder="Describe all the skills you have, for example a person with Computer Science background might have 'HTML5, CSS, JavaScript, Java, C++' e.t.c"></textarea>
            </li>
            <li><u>Projects</u>
                <br>
                <textarea cols="10" rows="10" class="AMInput" placeholder="How many projects have you worked on? Give titles of projects and give a brief explanation of it"></textarea>
            </li>
            <li><u>Publications</u>
                <br>
                <textarea cols="10" rows="10" class="AMInput" placeholder="Have you ever published your research/finds? Write them here and let visitors know!"></textarea>
            </li>
        </div>
        <input type="image" src="assets/images/submit.png" width="200px" height="200px" id="Submit">
    </body>
</html>